@use "sass:map";
@use "@angular/material" as mat;

$_palettes: (
  primary: (
    0: #000000,
    5: #081400,
    10: #102000,
    15: #172b00,
    20: #1f3700,
    25: #264300,
    30: #2f4f00,
    35: #375c00,
    40: #3f6900,
    50: #518500,
    60: #64a104,
    70: #7dbd2a,
    80: #97d945,
    90: #b2f65f,
    95: #d2ff9b,
    98: #f0ffd7,
    99: #f9ffe9,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    5: #081400,
    10: #121f04,
    15: #1c2a0b,
    20: #263515,
    25: #31401f,
    30: #3c4c2a,
    35: #485734,
    40: #54643f,
    50: #6c7d56,
    60: #85976e,
    70: #a0b187,
    80: #bbcda1,
    90: #d7e9bb,
    95: #e5f7c9,
    98: #f0ffd7,
    99: #f9ffe9,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    5: #001413,
    10: #00201e,
    15: #002b29,
    20: #003735,
    25: #004340,
    30: #00504c,
    35: #005d59,
    40: #046a66,
    50: #30837f,
    60: #4d9d98,
    70: #69b8b3,
    80: #85d4cf,
    90: #a1f1eb,
    95: #b0fff9,
    98: #e3fffc,
    99: #f2fffd,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    5: #10110d,
    10: #1b1c18,
    15: #252622,
    20: #30312c,
    25: #3b3c37,
    30: #464742,
    35: #52534d,
    40: #5e5f59,
    50: #777771,
    60: #91918b,
    70: #abaca5,
    80: #c7c7c0,
    90: #e3e3db,
    95: #f2f1e9,
    98: #fafaf2,
    99: #fdfcf5,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    5: #0e120a,
    10: #191d14,
    15: #23271d,
    20: #2e3228,
    25: #393d32,
    30: #44483d,
    35: #505449,
    40: #5c6054,
    50: #75796c,
    60: #8f9285,
    70: #a9ad9f,
    80: #c5c8ba,
    90: #e1e4d5,
    95: #eff2e3,
    98: #f8fbeb,
    99: #fbfeee,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);

@mixin light-theme-overrides() {
  @include mat.theme-overrides(
    (
      primary: #4c662b,
      surface-tint: #4c662b,
      on-primary: #ffffff,
      primary-container: #cdeda3,
      on-primary-container: #354e16,
      secondary: #586249,
      on-secondary: #ffffff,
      secondary-container: #dce7c8,
      on-secondary-container: #404a33,
      tertiary: #386663,
      on-tertiary: #ffffff,
      tertiary-container: #bcece7,
      on-tertiary-container: #1f4e4b,
      error: #ba1a1a,
      on-error: #ffffff,
      error-container: #ffdad6,
      on-error-container: #93000a,
      background: #f9faef,
      on-background: #1a1c16,
      surface: #f9faef,
      on-surface: #1a1c16,
      surface-variant: #e1e4d5,
      on-surface-variant: #44483d,
      outline: #75796c,
      outline-variant: #c5c8ba,
      shadow: #000000,
      scrim: #000000,
      inverse-surface: #2f312a,
      inverse-on-surface: #f1f2e6,
      inverse-primary: #b1d18a,
      primary-fixed: #cdeda3,
      on-primary-fixed: #102000,
      primary-fixed-dim: #b1d18a,
      on-primary-fixed-variant: #354e16,
      secondary-fixed: #dce7c8,
      on-secondary-fixed: #151e0b,
      secondary-fixed-dim: #bfcbad,
      on-secondary-fixed-variant: #404a33,
      tertiary-fixed: #bcece7,
      on-tertiary-fixed: #00201e,
      tertiary-fixed-dim: #a0d0cb,
      on-tertiary-fixed-variant: #1f4e4b,
      surface-dim: #dadbd0,
      surface-bright: #f9faef,
      surface-container-lowest: #ffffff,
      surface-container-low: #f3f4e9,
      surface-container: #eeefe3,
      surface-container-high: #e8e9de,
      surface-container-highest: #e2e3d8,
    )
  );
}
