<div class="nav-bar-container">
  <div class="desktop-nav">
    <div class="nav-bar-top">
      <div class="nav-bar-logo">
        <img src="arcticons--goblin-tools.svg" alt="Logo" />
      </div>
      <a class="nav-bar-item" (click)="openCreatePopup()">
        <mat-icon fontIcon="add"></mat-icon>
        <span>Generate report</span>
      </a>
      <a class="nav-bar-item" [routerLink]="['/reports']">
        <mat-icon fontIcon="article"></mat-icon>
        <span>Report viewer</span>
      </a>
      <a class="nav-bar-item">
        <mat-icon fontIcon="edit_outline"></mat-icon>
        <span>My reports</span>
      </a>
    </div>
    <div class="nav-bar-bottom">
      <a class="nav-bar-item">
        <mat-icon fontIcon="help"></mat-icon>
        <span>Help</span>
      </a>
      <a class="nav-bar-item">
        <mat-icon fontIcon="account_circle"></mat-icon>
        <span>Account</span>
      </a>
      <a class="nav-bar-item">
        <mat-icon fontIcon="logout"></mat-icon>
        <span>Logout</span>
      </a>
    </div>
  </div>
  <div class="mobile-nav-bar">
    <div class="mobile-nav-left">
      <div class="burger-menu" (click)="toggleMobileMenu()">
        <mat-icon fontIcon="menu"></mat-icon>
      </div>
      <div class="mobile-logo">
        <img src="arcticons--goblin-tools.svg" alt="Logo" />
      </div>
    </div>
    <div class="mobile-nav-right">
      <a class="mobile-nav-item">
        <mat-icon fontIcon="help"></mat-icon>
        <span>Help</span>
      </a>
      <a class="mobile-nav-item">
        <mat-icon fontIcon="add"></mat-icon>
        <span>Generate report</span>
      </a>
    </div>
  </div>
  <div class="mobile-side-menu" [class.open]="isMobileMenuOpen">
    <div class="mobile-items-top">
      <a class="mobile-menu-item" [routerLink]="['/reports']">
        <mat-icon fontIcon="article"></mat-icon>
        <span>Report viewer</span>
      </a>
      <a class="mobile-menu-item">
        <mat-icon fontIcon="edit_outline"></mat-icon>
        <span>My reports</span>
      </a>
      <a class="mobile-menu-item">
        <mat-icon fontIcon="account_circle"></mat-icon>
        <span>Account</span>
      </a>
    </div>
    <div class="mobile-items-bottom">
      <a class="mobile-menu-item">
        <mat-icon fontIcon="logout"></mat-icon>
        <span>Logout</span>
      </a>
    </div>
  </div>
</div>
