<div class="report-viewer-container">
  <div
    class="report-list-container"
    [class.hidden-mobile]="isMobile && selectedReportId"
  >
    <app-report-list-card
      [isMobileView]="isMobile"
      (reportSelected)="onReportSelected($event)"
    ></app-report-list-card>
  </div>
  @if (!isMobile && !reportData) {
  <div class="no-report-selected-container">
    <div class="no-report-content">
      <mat-icon>description</mat-icon>
      <h3>No report selected</h3>
      <p>Please select a report from the list to view its details</p>
    </div>
  </div>
  } @if (selectedReportId) {
  <div class="report-view-container" [class.show-mobile]="isMobile">
    @if (isMobile && selectedReportId) {
    <div class="mobile-actions-container">
      <button
        matButton="outlined"
        class="filter-button"
        (click)="goBackToReportList()"
      >
        <mat-icon>arrow_back</mat-icon>
        Back to reports
      </button>
      <button mat-button matButton="filled" class="export-button">
        <mat-icon>file_download</mat-icon>
        Export
      </button>
    </div>
    }
    <div class="report-view-header">
      <div class="title-container">
        <h1 class="report-title">{{ reportData?.title }}</h1>
        @if (!isMobile) {
        <button mat-button matButton="filled" class="export-button">
          <mat-icon>file_download</mat-icon>
          Export
        </button>
        }
      </div>
      <div class="author-container">
        <p class="info-label">Created by:</p>
        <p class="info-value">{{ reportData?.author }}</p>
      </div>
      <div class="date-container">
        <p class="info-label">Creation date:</p>
        <p class="info-value">{{ reportData?.creationDate }}</p>
      </div>
      <div class="time-container">
        <p class="info-label">Creation time:</p>
        <p class="info-value">{{ reportData?.creationTime }}</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    @if (reportData) {
    <div class="report-view-filters">
      <h3 class="filters-subtitle">Filters applied</h3>
      <div class="filters-list">
        @for (filter of activeFilters; track filter.label) {
        <div class="filter-item">
          <p class="filter-label">{{ filter.label }}:</p>
          <p class="filter-value">{{ filter.value }}</p>
        </div>
        } @if (reportData.includeId || reportData.includeSalesData) {
        <div class="filter-item">
          <p class="filter-label">Panel selections:</p>
          <p class="filter-value">
            {{ reportData.includeId ? "Include Id, " : "" }}
            {{ reportData.includeSalesData ? "Include sales data" : "" }}
          </p>
        </div>
        }
      </div>
    </div>
    }
    <mat-divider></mat-divider>
    <div class="report-view-table">
      <h3 class="table-subtitle">Table</h3>
      <app-table [reportData]="reportData"></app-table>
    </div>
  </div>
  }
</div>
