@use "../../styles/design-tokens" as tokens;

.dialog-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: tokens.spacing(xl);
  box-sizing: border-box;

  .dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: tokens.spacing(xl);

    h2 {
      font: var(--mat-sys-headline-medium);
      color: var(--mat-sys-tertiary);
      font-weight: 600;
      margin: 0;
    }

    @media (max-width: tokens.breakpoint(mobile)) {
      h2 {
        font: var(--mat-sys-headline-small);
        font-weight: 500;
      }
    }

    .close-icon {
      color: var(--mat-sys-tertiary);
      cursor: pointer;
      font-size: 32px;
      width: 32px;
      height: 32px;

      &:hover {
        color: var(--mat-sys-on-surface);
      }
    }
  }
}
